<!-- Start : Tracker Input -->
<section class="hero-bg min-h-[300px]">
    <div class="container h-full mx-auto">
        <!-- start : ip input -->
        <form class="py-12">
            <div class="input-group relative flex flex-col items-center">
                <label for="tracker-input" class="text-3xl font-bold text-white tracking-wide mb-6">IP Address
                    Tracker</label>
                <div class="flex flex-row">
                    <input type="search"
                        class="form-control text-xl relative w-[36rem] rounded-l-[14px] p-4 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300  transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        placeholder="Search for any IP address or domain">
                    <button
                        class="btn inline-block rounded-r-[14px] px-6 py-2.5 bg-neutral-900 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center"
                        type="button" id="button-addon2">
                        <img src="/assets/images/icon-arrow.svg" alt="search button">
                    </button>
                </div>
            </div>
        </form>
        <!-- end : ip input -->
        <!-- start : ip info -->
        <div></div>
        <!-- end : ip info -->
    </div>
</section>
<!-- End : Tracker Input -->