<!-- Start : Tracker Input -->
<section class="hero-bg min-h-[300px]">
    <div class="container h-full mx-auto">
        <!-- start : ip input -->
        <form class="py-12">
            <div class="input-group flex flex-col items-center">
                <label for="tracker-input" class="text-3xl font-bold text-white tracking-wide mb-6">
                    IP Address Tracker
                </label>
                <div class="flex flex-row">
                    <input type="search"
                        class="form-control text-xl relative w-[36rem] rounded-l-[14px] p-4 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300  transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        placeholder="Search for any IP address or domain">
                    <button
                        class="btn inline-block rounded-r-[14px] px-6 py-2.5 bg-neutral-900 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center"
                        type="button" id="button-addon2">
                        <img src="/assets/images/icon-arrow.svg" alt="search button">
                    </button>
                </div>
            </div>
        </form>
        <!-- end : ip input -->
    </div>
</section>
<!-- start : ip info -->
<div class="container flex flex-col md:flex-row bg-white rounded-2xl w-auto mt-[-72px] mx-2 md:mx-auto py-8">
    <!-- ip address -->
    <div class="w-full px-6 text-center md:text-start">
        <p class="text-sm font-bold text-neutral-400">IP ADDRESS</p>
        <P class="text-xl md:text-3xl font-bold">192.168.174.101</P>
    </div>
    <!-- ip address -->
    <!-- location -->
    <div class="w-full px-6 text-center md:text-start border-l-2">
        <P class="text-sm font-bold text-neutral-400">LOCATION</P>
        <P class="text-xl md:text-3xl font-bold">VALSAD, GJ, IN</P>
    </div>
    <!-- location -->
    <!-- timezone -->
    <div class="w-full px-6 text-center md:text-start border-l-2">
        <P class="text-sm font-bold text-neutral-400">TIME ZONE</P>
        <P class="text-xl md:text-3xl font-bold">IST - 05:00</P>
    </div>
    <!-- timezone -->
    <!-- isp -->
    <div class="w-full px-6 text-center md:text-start border-l-2">
        <P class="text-sm font-bold text-neutral-400">ISP</P>
        <P class="text-xl md:text-3xl font-bold">RELIANCE JIO</P>
    </div>
    <!-- isp -->
</div>
<!-- end : ip info -->
<!-- End : Tracker Input -->